<h2>My e-Comerce</h2>

<ul>
    <li>
        <a href="/home">Productos</a>
    </li>
    <li>
        <a href="/form-products">Crear productos</a>
    </li>
    <li>
        <a href="/realtime-products">Crear productos realtimeProducts</a>
    </li>
</ul>